@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

a {
  color: #999;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #081c24;
  display: inline-block;
}

.menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  top: 0px;
  width: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 75px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #081c24;
  width: 95px;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 45px;
  height: 40px;
}

.placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  margin-top: 25px;
}

.placeholder .search {
  width: 18px;
  height: 18px;
  padding-left: 150px;
}

.placeholder input {
  width: 95%;
  padding-left: 10px;
  border: none;
  font-size: 16px;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  top: 75px;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  border-top: 1px solid #f8f8f8;
  position: fixed;
  background-color: #fff;
  width: 95px;
}

.navigation-list .navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95px;
  margin-top: 75px;
  border-top: 1px solid #f8f8f8;
}

.navigation-list .navigation-item a {
  width: 100%;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #999;
  position: relative;
  cursor: pointer;
}

.navigation-list .navigation-item a:hover {
  color: #081c24;
}

.navigation-list .navigation-item a .far, .navigation-list .navigation-item a .fas, .navigation-list .navigation-item a .fab {
  position: absolute;
  margin-top: -45px;
  font-size: 16px;
}

.navigation-list .navigation-item a span {
  position: absolute;
  margin-top: -20px;
}

.main {
  display: block;
  width: calc(100% - 95px);
  padding: 75px 0 0;
  margin-left: 95px;
  position: relative;
}

.main .main-bg {
  background-color: #f8f8f8;
  width: 100%;
  height: 304px;
  overflow: hidden;
  margin: 0px;
  position: relative;
  background-color: #081c24;
}

.main .main-bg img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/*# sourceMappingURL=styles.css.map */